* {
  box-sizing: border-box;
  font-family: 'DejaVu Sans Mono', 'Courier New', Courier, monospace;
}

body {
  background-color: aliceblue;
}

.button-box {
  margin: 2em auto;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  /*border: 1px dotted salmon;*/
}

.contact-input {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: space-around;
  /*border: 1px dotted salmon;*/
}

label {
  margin-right: 1em;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 2em;
  border-radius: 3px;
  max-width: 50%;
  height: 96vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  /* border: 1px dotted salmon; */
}

#contactsList {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.status-window {
  font-size: 2em;
  border-radius: 3px;
  margin: auto;
  height: 2.5em;
  max-width: 80%;
  /* visibility: hidden; */
}

.status-window.success {
  /* visibility: visible; */
  border: 3px solid rgb(86, 128, 86);
  background-color: rgba(185, 247, 177, 0.5)
}

.status-window.info {
  visibility: visible;
  border: 3px solid rgb(94, 136, 252);
  background-color: hsla(204, 92%, 85%, 0.5)
}

.status-window.error {
  visibility: visible;
  border: 3px solid rgb(226, 226, 17);
  background-color: rgba(247, 248, 176, 0.5)
}

table {
  margin-top: 20px;
}

table,
tr,
td {
  border: 1px solid;
}

td {
  padding: 5px 50px;
}