* {
  box-sizing: border-box;
  font-family: 'DejaVu Sans Mono', 'Courier New', Courier, monospace;
}

body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

.button-box {
  margin: 2em auto;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
}

.contact-input {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: space-evenly;
}

.container {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  max-width: 60%;
  min-height: 96vh;
  margin: 0.5rem auto;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

#searchBar {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  min-width: 100%;
}

#searchBar label {
  width: 50%;
  margin: auto;
}

#searchBar input {
  line-height: 1.5em;
  width: 200px;
}

#contactsList {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.status-window {
  padding-top: 0.5em;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  border-radius: 3px;
  margin: auto;
  height: 2.5em;
  max-width: 80%;
  display: none;
  background-repeat: no-repeat;
  background-position: 50px center;
}

.status-window.success {
  display: block;
  border: 3px solid rgb(86, 128, 86);
  background-color: rgba(185, 247, 177, 0.5);
  background-image: url('../assets/img/success.png');
  animation: fadeOut 4s;
}

.status-window.info {
  display: block;
  border: 3px solid rgb(94, 136, 252);
  background-color: hsla(204, 92%, 85%, 0.5);
  background-image: url('../assets/img/info.png');
  animation: fadeOut 4s;
}

.status-window.error {
  display: block;
  border: 3px solid rgb(255, 196, 0);
  background-color: rgba(247, 248, 176, 0.5);
  background-image: url('../assets/img/attention.png');
  animation: fadeOut 4s;
}

table {
  margin-top: 20px;
}

table,
tr,
td {
  border: 1px solid;
}

td {
  padding: 5px 50px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 1750px) {
  .container {
    max-width: 70%;
  }
}

@media (max-width: 1450px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }

  .contact-input label {
    margin-right: 5px;
  }

  td {
    padding: 5px 25px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 95%;
  }

  .contact-input input {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .contact-input button {
    height: 3.75em;
    font-size: .66em;
  }

  .button-box button {
    height: 3.75em;
    font-size: .66em;
    padding: .1em;
  }

  td {
    padding: 2px 4px;
  }

  .status-window {
    background-position: 5px center;
  }
}

@media (max-width: 500px) {
  .status-window.error {
    background-image: none;
  }
}

@media (max-width: 400px) {
  td {
    font-size: .9em;
    padding: 2px 3px;
  }
}